.toplink a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 20px;
    font-weight: bold;
    height: 40px;
    display: inline-block;
    float: left;
    line-height: 40px;
}
.post-holder {
    display: block;
    float: left;
    width: 100%;
    padding: 15px 0;
    margin: 0 0 1px;
    border-bottom: 1px solid #eee;
}
.post-holder-image {
    float: left;
    width: 31.25%;
}
.post-holder-right {
    float: left;
    width: 68.75%;
}
.post-list .post-header .post-title {
    margin: 0;
    padding: 10px 0;
    float: left;
}
.post-list .post-header .post-title a {
    text-decoration: none;
    font-size: 22px;
    color: #636363;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.post-holder .post-content {
    display: inline-block;
    width: 100%;
}
.post-list .post-content, .post-list .post-content span {
    font-family: "Open Sans",san-serif !important;
    font-size: 14px !important;
    line-height: 23px;
    color: #676767;
}
.post-holder .post-footer {
    display: inline-block;
    width: 100%;
}
.post-info .item {
    float: left;
}
img {
    max-width: 100%;
}
.top_partners {
    display: inline-block;
    width: 100%;
}
.danhmuc {
    position: relative;
    z-index: 999;
}
.ul1 {
    position: absolute;
}
.f1 {
	height: 295px;
}
.post-item-link{
	color: #333;
}
.post-text-hld a {
	color: #333;
}
.post-categories > a {
	color: #333;
}
.content_news_page h1 {
	text-transform: uppercase;
	font-size: 22px;
}	
.pros {
	width: 100%;
}
.pro-li {
	border-right: none;
	width: 240px;
}