*{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	width: 1200px;
	margin: auto;
  z-index: 999;
  background: #fff;
}

/* /////////////////////////////////////////////////////// */
body {
  font-family: sans-serif;
  font-size: 15px;
}
#slider{
    float: left;
max-width: 662px;
height: 420px;
margin-left: 10px;
}
#menu{
  margin: auto;
  width: 1200px;
  background: #ff0;

}
.ul1 {
  float: left;
  background: #EE1B24;
  width: 222px;
  padding: 0;
  text-align: left;
  position:relative;
}
.sub1{
  width: auto;
  height: 46px;
  border-bottom: 1px solid #4B3B2E;
}
.a1{
  color: white;
  display: block;
  padding: 13px 19px;
  position: relative;
  font: 13px/21px Arial;
  font-weight: bold;
}
.a1>span{
  padding-left: 6px;
  position: absolute;
}
.sub1:hover .a1{
  color: yellow;
  text-decoration: none;

}

.arow{
  display: none;
  right: 6px;
  top: 16px;
  position: absolute;
}
#menu ul li:hover .arow{
  display: inline-block;
}
#menu ul li:hover ul{
  display:block;
}
.ul2{
  display:none;
  width: 675px;
  height: 421px;
  top:0px;
  left:222px;
  float:left;
  position:absolute;
  border: 1px solid red;
  background: #fff;
  z-index: 88;
  overflow: hidden;
}
.a3:hover{
  color: red;
  text-decoration: underline;
}
.sub2{
  float: left;
  width: 194px;
  margin: 9px 0 0 26px;
}
.a2{
  color: red;
  font: bold 12px/17px Arial;
  text-transform: uppercase;

}
.ul3{
  padding-left: 0px;
  border-top: 1px solid red;
}
.sub3{
  padding-top: 3px;
}
.a3{
  color: #000;
  font: 12px/23px Arial;
  text-transform: uppercase;
}
.img-slide{
  height: 100%;
}
.header3{
  background: transparent url("../images/site/flyout/menu-bg.png") repeat-x scroll 0 0;
    height: 42px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    border-top: 2px solid #fff;
}
.danhmuc{
  width: 238px;
  margin-right: 68px;
}
.danhmuc>a{
  background: transparent url("../images/site/flyout/arrow-menudrop-icon.png") no-repeat scroll right center;
    color: #fff200;
    display: block;
    font: 16px/42px Arial;
    height: 42px;
    padding: 0 30px 0 0;
    text-align: right;
    text-transform: none;
}
.khuyenmai>a,.baohanh>a,.tuyendung>a{
  background: transparent url("../images/site/flyout/menu-border.png") no-repeat scroll left top;
    display: block;
}
.khuyenmai, .baohanh, .tuyendung{
  width: 150px;
}
.header3>ul>li{
  float: left;
}
.baner-fly{
  float: right;
}
/* ////////////////////////////////////////////////////////////////////////// SPHOTSTYLE */
.special-box{
  height: 275px;
  margin: auto;
}
.sp-hot{
  width: 886px;
  float: left;
}
.title{
  height: 42px;
  background: transparent url("../images/site/sphot/menu-s-bg.png") repeat-x scroll 0 0;
}
.spbc{
  float: left;
}
.xtc{
  float: right;
}
.sp{
  height: 238px;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.sp-li{
  float: left;
  border-left: 1px solid #f1f1f1;
  width: 218px;
  height: 238px;
}
.sp-img{
  margin: 13px 0 0 31px;
  max-width: 197px;
  max-height: 130px;
   transition: all 500ms ease 0s;
}
li:hover .sp-img{
   transform: scale(1.1);
}
.sp-name{
  color: #0072bc;
    display: block;
    font: 14px/19px Arial;
    height: 38px;
    padding-top: 6px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}
.sp-price1{
  color: #ff0000;
    float: right;
    font: bold 23px/27px Time New Roman;
    height: 27px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.sp-price2{
    float: right;
    height: 16px;
    overflow: hidden;
    text-align: center;
    width: 100%;
  color: #636363;
    font: 14px Arial;
    text-decoration: line-through;
}
.video-news{
  /* height: 273px; */
  width: 300px;
  float: right;
}



/* ///////////////////////////////////////////////////////////////////////////////// HEADERSTYLE */
.header{
  width: 1200px;
  margin: auto;
  background-color: #ED1C24;
}
.header1{
  height: 30px;
}
.lih1{
  float: right;
  padding: 0 11px 4px 0;
/*  border-bottom: 1px solid white; */
}
.ah1:hover{
  text-decoration:underline;
}
.ah1{
  font: bold 12px/17px Arial;
  color: white;
}
.header2{
  height: 80px;
}
.header2 img,.search{
  float: left;
}
.header2 img{
  padding: 6px 0 0 23px;
  max-width: 143px;
}
.search{
	float: left;
  margin: 30px 0px 0 72px;
  background-color: #fff;
  border-radius: 6px;
  height: 30px;
}
.txt-search{
	float: left;
  height: 30px;
  margin-left: 5px;
  border: none ! important;
  box-shadow: none ! important;
  outline: none ! important;
  text-indent: 10px;
}
.txt-search:focus {
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
}
.ok{
  float: right;
  margin: 3px 6px 0 0;
	border: none;
}
.header-right{
  padding-top: 25px;
}

/* .btn-search{
height: 20px;
width: 12px;
  height: 16px;
  width: 16px;
  background-image: url("find.png");
}
.btn-search:focus {
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
    } */
/* ////////////////////////////////////////////////////////////////////////////////////////// PROSTYLE */
.product{
  width: 1200px;
  margin: auto;
  /* float: left; */
  /* padding-top: 30px; */
}
.pro-title{
  height: 35px;
  background: transparent url("../images/site/pro/menu-s-right-bg.png") repeat-x scroll 0 0;
  width: 100%;
}
.title-name{
  background: transparent url("../images/site/pro/tit.png") repeat-x scroll 0 0;
  float: left;
  width: 216px;
  height: 100%;
}
.title-name>img{
  float: left;
    padding: 9px 5px 0 13px;
}
.title-name>a,.title-name>h3{
  color: #FFF;
    font: bold 15px/35px Arial;
}
.sub-title{
  float: right;
  width: 984px;
  height: 100%
}
.sub-title-ul{
  list-style-type: none;
}
.sub-title-li{
  float: right;
  padding: 8px 10px 0 0;
}
.sub-title-li>a{
  color: #000;
  font: 13px Arial;
}
.sub-title-li>a:hover{
  text-decoration: underline;
}
.baner{
  height: 66px;
  width: 100%;
  background: red
}
.pros{
  width: 996px;
  float: left;
  overflow: hidden;
/*   background: gold; */
}
.pro-li{
  position: relative;
  width: 243px;
  height: 300px;
  float: left;
  border-right: 1px solid #DEDFE4;
  border-bottom: 1px solid #DEDFE4;
}
.pro-a{
  width: 100%;
  height: 100%;
}
li:hover .pro-img{
  transform: scale(1.1);
}

.pro-img{
  /* transition: all .2s ease-in-out; */
  transition: all 500ms ease 0s;
    max-width: 197px;
    max-height: 145px;
    margin: 13px 0 0 25px;
    transition: all 500ms ease 0s;
}
.pro-img:hover{
  transform: scale(1.1);
}

.sale-value-img{
  left: 9px;
    position: absolute;
    top: 8px;
}
.sale-value-txt{
  left: 18px;
    position: absolute;
    top: 19px;
    color: #fff;
    font: bold 16px 'Times New Roman';
}
.pro-price1{
  bottom: 94px;
    height: 42px;
    position: absolute;
    right: 20px;
    font-size: 27px;
    font-family: initial;
    color: red;
}
.pro-price2{
		bottom: 79px;
		right: 19px;
		color: #636363;
		font: 16px Arial;
    position: absolute;
    text-decoration: line-through;
}
.pro-price3{
  margin-left: -8px;
}
#pro-price3{
  float: right;
    margin-right: 21px;
}


.percent_off {
    background: #d00 none repeat scroll 0 0;
    border-radius: 9px;
    color: white;
    padding: 2px 3px;
}
.pro-name{
		bottom: 60px;
    color: #005baa;
    display: block;
    font: bold 15px/22px Arial;
    height: 20px;
    overflow: hidden;
    padding: 10px 0 0 5px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
}
.pro-info{
  bottom: 21px;
    color: #222222;
    display: block;
    font: 12px/16px Arial;
    height: 34px;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
    text-align: left;
}
.pro-info:hover{
  color: #005baa;
}
.pro-sale-info{
  bottom: 3px;
    color: #ff0000;
    font: 12px arial;
    left: 11px;
    position: absolute;
}
.aa{
  width: 100%
  height:100%;
}
.pro-banner{
  float: right;

}
.pro-banner>img{
  max-width: 200px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// WRAPSTYLE */

.wrap{
  width: 1200px;
  margin: auto;
  padding-top: 19px;
}
.navi{
  height: 34px;
  width: 100%;
  background: red;
  border-radius: 6px;
}
.navi>ul{
  padding: 6px 0 0 12px;
}
.navi>ul>li{
  float: left;
  margin-right: 6px;
}
.navi>ul>li>a{
  color: #000;
}
.navi>ul>li>a:hover{
  text-decoration: underline;
}
.s-lv1{
  color: #fff;
}
.s-lv1,.s-lv2,.s-lv3{
  background: transparent url("../images/site/wrap/arrow-spec-icon.png") no-repeat scroll right center;
  padding: 0 14px 0 0;
}
.main{
  width: 100%;
  padding-top: 11px;
}
.w-left{
	float: left;
    height: 600px;
    width: 370px;
}

.img>img{
  max-width: 254px;
  max-height: 266px;
  background: repeat center center;
	box-shadow: 0 0 6px #acacac;
}
.name{
	padding-top: 10px;
}
.name>span{
	font-weight: bold;
	font-family: Arial;
	font-size: 15px;
}
.price_deal_detail_2{
	float: left;
  width: 250px;
}
.button_buy{
	float: right;
	width: 115px;
}
.button_buy a{
	font-size: 12px;
	margin: 7px 0;
	text-align: center;
}
.btn-red,.btn-blue,.btn-orange{
	border-radius: 3px;
  color: white;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 25px;
  line-height: 23px;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 2px #666;
}
.btn-red:hover,.btn-blue:hover,.btn-orange:hover{
	box-shadow: 0 0 1px #000;
	color: white;
}
.btn-red{
	background-color: #DD0000;
}
.btn-blue{
	background-color: #4FABDA;
}
.btn-orange{
	background-color: #FFC477;
}
.pr-price{
	float: left;
	padding-left: 9px;
	width: 100%;
}

.price{
  margin: 12px 12px 0 0;
  height: 48px;
}
.price>li{
  float: right;
}
.addtocart{
  width: 100%;
  height: 60px;
}
.cart-btn{
  max-height: 60px;
}
.w-left>a{
  float: right;
}
.pr-price2 span{
	line-height: 18px;
}
.w-right{
	background: #fff none repeat scroll 0 0;
    float: left;
    padding-left: 14px;
    width: 816px;
}
.gt{
  width: 100%;
}
.pro-detail{
  float: left;
  width: 616px;
}
.pro-price{
  float: right;
  width: 200px;
  height: 350px;
}
.pro-detail>h1{
    font: 20px/25px Arial;
    text-transform: uppercase;
		font-weight: bold;
}
.p-pro{
  height: 26px;
  width: 100%;
  border-bottom: 1px solid #b7b7b7;
}
.h-model{
  float: left;
    font: 12px/27px Arial;
}
.p-pro>span{
  margin: 0 5px 0 0;
}
.tinhtrang{
  color: #ff8a00;
    font: bold 12px/27px Arial;
}
.p-spec{
    font: 13px/21px Arial;
    margin: 7px 0;
    overflow: hidden;
    width: 100%;
}
.p-spec b{
	font-size: 15px;
}
.boder-line{
  background-color: #b7b7b7;
    clear: both;
    height: 1px;
    width: 100%;
}
.p-program{
  padding-top: 10px;
}
.p-program>li{
  color: #ff0000;
    float: left;
    margin: 0 0 15px;
    width: 100%;
}
.img-pr{
  float: left;
  width: 120px;
}
.sp-program{
  font: 12px/16px Arial;
  float: right;
  height: 30px;
  width: 330px;
}
.sp-pr{
	float: left;
	height: 30px;
	width: 463px;
	padding-left: 10px;
}
.sp-pr span{
	font: 12px/16px Arial;
}
.cell{
	padding-bottom: 5px;
}
.cell td{
	padding-top: 5px;
	line-height: 19px;
}
.p-program>li>a{
  color: #000;
}
.same,.splq,.spch{
  margin: 14px 0 0;
  width: 100%;
  float: left;
}
.same>h4,.splq>h4,.spch>h4{
  background: transparent url("../images/site/wrap/product-tags-bg.png") repeat-x scroll left top;
    height: 36px;
}
.same>h4>span,.splq>h4>span,.spch>h4>span{
  background: transparent url("../images/site/wrap/product-tags-active-bg.png") repeat-x scroll left top;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    color: #ff0000;
    display: inline-block;
    font: 13px/41px Arial;
    height: 36px;
    overflow: hidden;
    padding: 0 19px;
    text-transform: uppercase;
}
.same-ul,.splq-ul,.spch-ul{
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #dddddd #dddddd;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: 174px;
    overflow: hidden;
}
.same-li,.splq-li,.spch-li{
  float: left;
    padding: 14px 14px 0;
    width: 129px;
}
.same-img,.splq-img,.spch-img{
  display: block;
    height: 94px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}
.same-img>img,.splq-img>img,.spch-img>img{
  max-height: 94px;
  max-width: 120px;
}
.same-name,.splq-name,.spch-name{
  color: #0072bc;
    display: block;
    float: left;
    font: 12px/18px Arial;
    height: 36px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.same-price,.splq-price,.spch-price{
  color: #ff0000;
    display: block;
    font: bold 15px/24px Arial;
    text-align: center;
}
.tags{
  font: 12px/17px Arial;
  width: 100%;
  margin-top: 9px;
}
.tags>a{
  color: #555555;
}
.tags>a:hover{
  text-decoration: underline;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// FOOTERSTYLE */
.footer{
  width: 1200px;
  margin: auto;
  font-size: 14px;
}


.f-h2{
  background: transparent none repeat scroll 0 0;
    font: bold 25px/44px Arial;
    height: 44px;
    padding: 10px 0 0 27px;
}
.ck>ul>li{
  padding-bottom: 18px;
}
.txt-ck{
  width: 243px;
  float: right;
}
.ck{
  float: left;
  width: 293px;
  background: #FFDD00;
  /* border-radius: 10px; */
}
.htkh{
  float: left;
  width: 20%;
}
.htkh img{
	max-height: 50px;
}
.ttc{
	float: left;
  width: 20%;
}
.gtct{
  float: left;
  width: 20%;
}
.td{
  float: left;
  width: 20%;
}
.f-h4{
  /*background-color: #ffdd00;*/
    /* border-radius: 10px; */
		color: #feee02;
    display: block;
    font: bold 13px/32px Arial;
    height: 32px;
    text-transform: uppercase;
}
.f-li{
  margin: 5px 0 0;
}
.f-a{
  color: #fff;
}
.f-a:hover{
  text-decoration: underline;
}
.conn{
  border-top: 1px solid #000;
  margin-top: 13px;
}
.conn>ul>li{
  float: left;
  padding-left: 6px;
}
.f-h3{
  font: bold 13px/24px Arial;
  margin-top: 12px;
}

.f-h1{
  font: bold 23px/28px Arial;
  color: #f00;
  text-align: center;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// FENDSTYLE */
.if{
  font: bold 12px/28px Arial;
  background: #0f0c0c;
  text-align: center;
  margin: auto;
	color: #fff;
}
.if>img{
  max-height: 56px;
  margin: auto;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// UPTOTOPSTYLE*/
.back-to-top {position: fixed; bottom: 36px; right: 10px;}
.back-to-top img{max-width: 30px;}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////TINTUCSTYLE */
.tintuc{
    padding: 68px 0 0 68px;
}
.tieude>h1{
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////BANERSTYLE */
.baner-r{
  right: 0;
}
.ghang{
	width: 1200px;
	margin: auto;
}
#guide_cart h1{
	color: #e00;
    font-size: 18px;
		padding-top: 20px;
}
#guide_cart p b{
	color: #e00;
}
.tbd-cart tr{
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial,sans-serif;
	font-size: 12px;
}
.tbd-cart tr td{
	height: 26px;
  padding: 10px;
}
.tfoot-cart tr td{
	height: 26px;
	padding: 10px;
	text-align: center;
	color: #555;
}
.tfoot-cart tr{
	font-weight: bold;
	font-family: Arial,sans-serif;
	font-size: 12px;
}
.tbd-cart, .tfoot-cart{
	border-collapse: collapse;
}
.buy-cart a,.buy-cart button{
	float: right;
	margin: 10px 0 0 11px;
}
.cart-info{
	width: 1200px;
	margin: auto;
}
.c3_col_1{
	float: left;
  line-height: 25px;
  margin: 0 30px 0 0;
  width: 26%;
	font-size: 12px;
}
.c3_box{
	padding-bottom: 20px;
}
.title_box_cart{
	background: #eee none repeat scroll 0 0;
	border: 1px solid #bbb;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 6px;
	padding-left: 7px;
}

.c3_col_1 input[type="text"] {
    border: 1px solid #ccc;
    height: 21px;
    width: 309px;
}
.c3_col_1 textarea{
	border: 1px solid #ccc;
    width: 306px !important;
}

.c3_col_2 {
    float: right;
    margin: 0;
    width: 34%;
}
.tbl_cart3 table td {
    border: 1px solid #ccc;
}
.tbl_cart3 td {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}
.red {
    color: #e00 !important;
}
.btn_red{
	background-color: #D30305;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  width: 100%;
	height: 30px;
}
.news{
	width: 1200px;
	margin: auto;
}
.content_left{
    float: left;
    margin-right: 12px;
    width: 222px;
}
.box_left {
    margin-bottom: 10px;
    overflow: hidden;
}
.title_box_left {
    background: #222 none repeat scroll 0 0;
    border-radius: 3px 3px 0 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
    padding: 0 10px;
}

.content_box_left.list_cat_news {
    background: #b6070f none repeat scroll 0 0;
    border: medium none;
}

.content_box_left.list_cat_news ul li {
    border-top: 1px solid #971c1c;
    padding: 0 15px;
}

.content_box_left.list_cat_news ul li a {
    color: white;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
		font-size: 13px;
}
.content_news_page{
	float: left;
	width: 966px;
}
.content_news_page h1 {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
}
.content_news_page .time {
    color: #666;
    display: block;
    margin-bottom: 12px;
		font-size: 12px;
}

.b_l {
    margin: 0;
    padding: 0;
}

ul.b_l li {
    display: inline-block;
    margin: 2px;
}

ul.b_l li .img-bank {
    border: 2px solid #ccc;
}
.img-active {
    border: 2px solid blue !important;
}
.dm{
	color:#fff;
	position: absolute;
	right: 85px;
	top: 6px;
}
.f1{
	background: #c2050b;
	font-size: 14px;
	height: 195px;
	margin-top: 36px;
}
.page3{
	padding-top: 30px;
	width: 1200px;
	margin: auto;
}
.page3 h1{
	font-size: 17px;
}
.sortby{
  height: 37px;
    background: #eee;
    padding: 0 8px;
    margin-bottom: 8px;
}
.sort_pro {
    float: right;
    margin-left: 20px;
    margin-top: 7px;
    position: relative;
}
.sort_pro > span{border: solid 1px #ccc;display:block;height:21px;background:white;padding:0 10px;line-height:21px;}
.sort_pro ul{margin:0;list-style:none;background:white;border:solid 1px #ccc;padding:3px 8px;display:none;width:119px;position:absolute;z-index:99;line-height:20px;top:22px;left:0;}
.sort_pro ul li{padding:2px 0;}
.sort_pro ul li a{text-decoration:none;color: #333;}
.sort_pro:hover ul{display:block;}